<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<context:property-placeholder location="classpath:system.properties" />
	<!-- <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/mysqlds" /> -->
	<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClass}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean> -->
	<!-- BoneCP -->
	<!-- -->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxConnectionsPerPartition" value="${jdbc.max.connection}"/>
		<property name="minConnectionsPerPartition" value="${jdbc.min.connection}"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
				<prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<!-- 
				<prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
				<prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_second_level_cache}</prop>
				-->
			</props>
		</property>
		<property name="packagesToScan" value="com.sforce.domain" />
	</bean>
	<!-- 
	<bean id="articleIdSeq" class="org.springframework.jdbc.support.incrementer.OracleSequenceMaxValueIncrementer">
		<property name="dataSource" ref="dataSource" />
		<property name="incrementerName" value="SEQ_ARTICLE_ID" />
		<property name="paddingLength" value="6"/>
	</bean>
	 -->
	 
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	
	<context:annotation-config />
	<context:component-scan base-package="com.sforce" />
	
	<bean id="contextHolder" class="com.sforce.util.ContextHolder" />
	
	<!--  -->
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="20" />
		<property name="queueCapacity" value="100" />
		<property name="keepAliveSeconds" value="300" />
		<property name="rejectedExecutionHandler">
			<bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
		</property>
	</bean>
	<task:scheduler id="scheduler" pool-size="20" />
	<!-- 
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="req01" cron="0 0 1 * * *" method="run"/>
		<task:scheduled ref="req02" cron="0 0 0/4 * * *" method="run"/>
		<task:scheduled ref="req03" cron="0 0 1/4 * * *" method="run"/>
		<task:scheduled ref="req04" cron="0 3/5 * * * *" method="run"/>
		<task:scheduled ref="req05" cron="0 4/5 * * * *" method="run"/>
		<task:scheduled ref="req06" cron="0 0 2/4 * * *" method="run"/>
		<task:scheduled ref="req07" cron="0 0/5 * * * *" method="run"/>
		<task:scheduled ref="req08" cron="0 0/5 * * * *" method="run"/>
		<task:scheduled ref="req09" cron="0 1/5 * * * *" method="run"/>
		<task:scheduled ref="req10" cron="0 2/5 * * * *" method="run"/>
		<task:scheduled ref="req11" cron="0 1/5 * * * *" method="run"/>
		<task:scheduled ref="req12" cron="0 2/5 * * * *" method="run"/>
		<task:scheduled ref="req13" cron="0 3/5 * * * *" method="run"/>
		<task:scheduled ref="req14" cron="0 4/5 * * * *" method="run"/>
		<task:scheduled ref="req15" cron="0 0 3/4 * * *" method="run"/>
	</task:scheduled-tasks>
	 -->
	<bean id="mqReceiver" abstract="true">
		<property name="queueManagerName" value="${mq.queueManagerName}"/>
		<property name="option" value="1"/>
	</bean>
	<bean id="mqSender" abstract="true">
		<property name="queueManagerName" value="${mq.queueManagerName}"/>
		<property name="option" value="8208"/>
	</bean>
	<!--
	<bean id="req01MockSender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="component" value="req01" />
		<property name="queueName" value="EC" />
	</bean>
	-->
	<bean id="mockReceiver" class="com.sforce.mock.MockReceiver" />
	<bean id="mockSender" class="com.sforce.mock.MockSender" />
	<!-- 
	<bean id="mockComponent" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="mock" />
		<property name="debug" value="true" />
		<property name="receiver" ref="mockReceiver" />
		<property name="sender" ref="mockSender" />
	</bean>
	
	<bean id="mqtest" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="mqtest" />
		<property name="debug" value="false" />
		<property name="receiver" ref="mqtestReceiver" />
		<property name="sender" ref="mqtestSender" />
		<property name="info" value="MQ TEST" />
	</bean>
	 -->
	<bean id="mqtestReceiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="MXQAS.SFDC_TEST.QL" />
	</bean>
	<bean id="mqtestSender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="MXQAS.SFDC_TEST.QL" />
	</bean>
	
	<!-- MQ To SFDC -->
	<!--REQ01 Exchange Rate, SAP -> SFDC, 自動, 每日一次 -->
	<bean id="req01" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req01" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req01Receiver" />
		<property name="sender" ref="req01Sender" />
		<property name="info" value="Exchange Rate, SAP -> SFDC, 自動, 每日一次" />
	</bean>
	<bean id="req01Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="${mq.req01}" />
		<property name="receivers" value="${mail.req01}"/>
	</bean>
	<bean id="req01mqSender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="${mq.req01}" />
		<property name="receivers" value="${mail.req01}"/>
	</bean>
	<bean id="req01Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Key_sync__c"/>
		<property name="parsers">
			<list>
				<ref bean="req01MasterParser"/>
			</list>
		</property>
		<property name="receivers" value="${mail.req01}"/>
	</bean>
	<bean id="req01MasterParser" class="com.sforce.parser.Req01MasterParser">
		<property name="syncKey" value="Key_sync__c"/>
	</bean>
	
	<!--REQ02 EPN Master, SAP -> SFDC, 自動/手動, 每日6次(每4小時一次) -->
	<bean id="req02" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req02" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req02Receiver" />
		<property name="sender" ref="req02Sender" />
		<property name="info" value="EPN Master, SAP -> SFDC, 自動/手動, 每日6次(每4小時一次)" />
	</bean>
	<bean id="req02Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="${mq.req02}" />
		<property name="receivers" value="${mail.req02}"/>
	</bean>
	<bean id="req02Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Key_sync__c"/>
		<property name="parsers">
			<list>
				<ref bean="req02MasterParser"/>
			</list>
		</property>
		<property name="receivers" value="${mail.req02}"/>
	</bean>
	<bean id="req02MasterParser" class="com.sforce.parser.Req02MasterParser">
		<property name="syncKey" value="Key_sync__c"/>
	</bean>
	
	<!-- REQ03 EPN Product Body Link, SAP -> SFDC, 自動/手動, 每日6次(每4小時一次) -->
	<bean id="req03" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req03" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req03Receiver" />
		<property name="sender" ref="req03Sender" />
		<property name="info" value="EPN Product Body Link, SAP -> SFDC, 自動/手動, 每日6次(每4小時一次)" />
	</bean>
	<bean id="req03Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="${mq.req03}" />
		<property name="receivers" value="${mail.req03}"/>
	</bean>
	<bean id="req03Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Key_sync__c"/>
		<property name="parsers">
			<list>
				<ref bean="req03MasterParser"/>
			</list>
		</property>
		<property name="receivers" value="${mail.req03}"/>
	</bean>
	<bean id="req03MasterParser" class="com.sforce.parser.Req03MasterParser">
		<property name="syncKey" value="Key_sync__c"/>
	</bean>
	
	<!-- REQ08 PDI MP Order Ack, SAP -> SFDC, 自動, 即時 -->
	<bean id="req08" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req08" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req08Receiver" />
		<property name="sender" ref="req08Sender" />
		<property name="info" value="PDI MP Order Ack, SAP -> SFDC, 自動, 即時" />
	</bean>
	<bean id="req08Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="${mq.req08}" />
		<property name="receivers" value="${mail.req08}"/>
	</bean>
	<bean id="req08Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Id"/>
		<property name="parsers">
			<list>
				<ref bean="req08MasterParser"/>
			</list>
		</property>
		<property name="receivers" value="${mail.req08}"/>
	</bean>
	<bean id="req08MasterParser" class="com.sforce.parser.Req08MasterParser">
		<property name="syncKey" value="Id"/>
	</bean>
	
	
	<!-- REQ09 Application, SAP -> SFDC, 手動, 手動執行 -->
	<bean id="req09" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req09" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req09Receiver" />
		<property name="sender" ref="req09Sender" />
		<property name="info" value="Application, SAP -> SFDC, 手動, 手動執行" />
	</bean>
	<bean id="req09Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="${mq.req09}" />
		<property name="receivers" value="${mail.req09}"/>
	</bean>
	<bean id="req09Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Application_ID__c"/>
		<property name="parsers">
			<list>
				<ref bean="req09MasterParser"/>
			</list>
		</property>
		<property name="receivers" value="${mail.req09}"/>
	</bean>
	<bean id="req09MasterParser" class="com.sforce.parser.Req09MasterParser">
		<property name="syncKey" value="Application_ID__c"/>
	</bean>
	
	<!-- REQ10 Application, SAP -> SFDC, 手動, 手動執行 -->
	<bean id="req10" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req10" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req10Receiver" />
		<property name="sender" ref="req10Sender" />
		<property name="info" value="Account, Notes -> SFDC, 自動, 即時" />
	</bean>
	<bean id="req10Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="${mq.req10}" />
		<property name="receivers" value="${mail.req10}"/>
	</bean>
	<bean id="req10Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Account_Key__c"/>
		<property name="parsers">
			<list>
				<ref bean="req10MasterParser"/>
			</list>
		</property>
		<property name="receivers" value="${mail.req10}"/>
	</bean>
	<bean id="req10MasterParser" class="com.sforce.parser.Req10MasterParser">
		<property name="syncKey" value="Account_Key__c"/>
	</bean>
	
	<!-- REQ13 Customer Category, SAP -> SFDC, 手動, 手動執行 -->
	<bean id="req13" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req13" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req13Receiver" />
		<property name="sender" ref="req13Sender" />
		<property name="info" value="Customer Category,	SAP -> SFDC, 手動, 手動執行" />
	</bean>
	<bean id="req13Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="${mq.req13}" />
		<property name="receivers" value="${mail.req13}"/>
	</bean>
	<bean id="req13Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Account_Number__c"/>
		<property name="parsers">
			<list>
				<ref bean="req13MasterParser"/>
			</list>
		</property>
		<property name="receivers" value="${mail.req13}"/>
	</bean>
	<bean id="req13MasterParser" class="com.sforce.parser.Req13MasterParser">
		<property name="syncKey" value="Account_Number__c"/>
	</bean>
	
	
	
	<!-- SFDC To MQ -->
	<!-- REQ04 Competitor Price, SFDC -> Notes, 自動, 即時 -->
	<!--  -->
	<bean id="req04" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req04" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req04Receiver" />
		<property name="sender" ref="req04Sender" />
		<property name="info" value="Competitor Price, SFDC -> Notes, 自動, 即時" />
	</bean>
	<bean id="req04Receiver" class="com.sforce.intf.impl.Req04SfReceiver">
	</bean>
	<bean id="req04Sender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="${mq.req04}" />
		<property name="receivers" value="${mail.req04}"/>
	</bean>
	
	<!-- REQ05 CDI & BDI,	SFDC -> Notes,	自動/手動, 每日一次 -->
	<bean id="req05" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req05" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req05Receiver" />
		<property name="sender" ref="req05Sender" />
		<property name="info" value="CDI BDI,	SFDC -> Notes,	自動/手動, 每日一次" />
	</bean>
	<bean id="req05Receiver" class="com.sforce.intf.impl.Req05SfReceiver">
	</bean>
	<bean id="req05Sender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="${mq.req05}" />
		<property name="receivers" value="${mail.req05}"/>
	</bean>
	
	<!-- REQ06 DI, SFDC -> BO, 自動, 每日6次(每4小時一次) -->
	<bean id="req06" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req06" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req06Receiver" />
		<property name="sender" ref="req06Sender" />
		<property name="info" value="DI, SFDC -> BO, 自動, 每日6次(每4小時一次)" />
	</bean>
	<bean id="req06Receiver" class="com.sforce.intf.impl.Req06SfReceiver">
	</bean>
	<bean id="req06Sender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="${mq.req06}" />
		<property name="receivers" value="${mail.req06}"/>
	</bean>
	
	<!-- REQ07 PDI MP Order Checking, SFDC -> SAP, 自動, 即時 -->
	<bean id="req07" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req07" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req07Receiver" />
		<property name="sender" ref="req07Sender" />
		<property name="info" value="PDI MP Order Checking, SFDC -> SAP, 自動, 即時" />
	</bean>
	<bean id="req07Receiver" class="com.sforce.intf.impl.Req07SfReceiver">
	</bean>
	<bean id="req07Sender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="${mq.req07}" />
		<property name="receivers" value="${mail.req07}"/>
	</bean>
	
	<!-- REQ11 Account, SFDC -> Notes, 自動, 即時 -->
	<bean id="req11" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req11" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req11Receiver" />
		<property name="sender" ref="req11Sender" />
		<property name="info" value="Account, SFDC -> Notes, 自動, 即時" />
	</bean>
	<bean id="req11Receiver" class="com.sforce.intf.impl.Req11SfReceiver">
	</bean>
	<bean id="req11Sender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="${mq.req11}" />
		<property name="receivers" value="${mail.req11}"/>
	</bean>
	
	<!-- REQ12 SAP Customer, SFDC -> SAP, 自動, 即時 -->
	<bean id="req12" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req12" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req12Receiver" />
		<property name="sender" ref="req12Sender" />
		<property name="info" value="SAP Customer, SFDC -> SAP, 自動, 即時" />
	</bean>
	<bean id="req12Receiver" class="com.sforce.intf.impl.Req12SfReceiver">
	</bean>
	<bean id="req12Sender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="${mq.req12}" />
		<property name="receivers" value="${mail.req12}"/>
	</bean>
	
	<!-- REQ14 Trip Report and Visit Report, SFDC -> Notes, 自動, 即時 -->
	<bean id="req14" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req14" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req14Receiver" />
		<property name="sender" ref="req14Sender" />
		<property name="info" value="Trip Report and Visit Report, SFDC -> Notes, 自動, 即時" />
	</bean>
	<bean id="req14Receiver" class="com.sforce.intf.impl.Req14SfReceiver">
	</bean>
	<bean id="req14Sender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="${mq.req14}" />
		<property name="receivers" value="${mail.req14}"/>
	</bean>
	
	<!-- REQ15 Visit Report, SFDC -> BO, 自動, 每日6次(每4小時一次) -->
	<bean id="req15" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req15" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req15Receiver" />
		<property name="sender" ref="req15Sender" />
		<property name="info" value="Visit Report, SFDC -> BO, 自動, 每日6次(每4小時一次)" />
	</bean>
	<bean id="req15Receiver" class="com.sforce.intf.impl.Req15SfReceiver">
	</bean>
	<bean id="req15Sender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="${mq.req15}" />
		<property name="receivers" value="${mail.req15}"/>
	</bean>
	
	<!-- 
	<cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>
    <bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
     <cxf:bus>
        <cxf:outInterceptors>
            <ref bean="logOutbound"/>
        </cxf:outInterceptors>
        <cxf:outFaultInterceptors>
            <ref bean="logOutbound"/>
        </cxf:outFaultInterceptors>
    </cxf:bus> 
     -->
	<import resource="applicationContext_Mail.xml"/>
	
	
</beans>
