<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<context:property-placeholder location="classpath:system.properties" />
	<!-- <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/mysqlds" /> -->
	<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClass}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean> -->
	<!-- BoneCP -->
	<!-- -->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxConnectionsPerPartition" value="${jdbc.max.connection}"/>
		<property name="minConnectionsPerPartition" value="${jdbc.min.connection}"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
				<prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<!-- 
				<prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
				<prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_second_level_cache}</prop>
				-->
			</props>
		</property>
		<property name="packagesToScan" value="com.sforce.domain" />
	</bean>
	<!-- 
	<bean id="articleIdSeq" class="org.springframework.jdbc.support.incrementer.OracleSequenceMaxValueIncrementer">
		<property name="dataSource" ref="dataSource" />
		<property name="incrementerName" value="SEQ_ARTICLE_ID" />
		<property name="paddingLength" value="6"/>
	</bean>
	 -->
	 
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	
	<context:annotation-config />
	<context:component-scan base-package="com.sforce" />
	
	<bean id="contextHolder" class="com.sforce.util.ContextHolder" />
	
	<!--  -->
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="20" />
		<property name="queueCapacity" value="100" />
		<property name="keepAliveSeconds" value="300" />
		<property name="rejectedExecutionHandler">
			<bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
		</property>
	</bean>
	<task:scheduler id="scheduler" pool-size="10" />
	<!-- 
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="mockComponent" cron="*/10 * * * * *" method="run"/>
	</task:scheduled-tasks>
	 -->
	<bean id="mqReceiver" abstract="true">
		<property name="queueManagerName" value="${mq.queueManagerName}"/>
		<property name="option" value="1"/>
	</bean>
	<bean id="mqSender" abstract="true">
		<property name="queueManagerName" value="${mq.queueManagerName}"/>
		<property name="option" value="8208"/>
	</bean>
	<!--
	<bean id="req01MockSender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="component" value="req01" />
		<property name="queueName" value="EC" />
	</bean>
	-->
	<bean id="mockReceiver" class="com.sforce.mock.MockReceiver" />
	<bean id="mockSender" class="com.sforce.mock.MockSender" />
	
	<bean id="mockComponent" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="mock" />
		<property name="debug" value="true" />
		<property name="receiver" ref="mockReceiver" />
		<property name="sender" ref="mockSender" />
	</bean>
	
	<bean id="mqtest" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="mqtest" />
		<property name="debug" value="false" />
		<property name="receiver" ref="mqtestReceiver" />
		<property name="sender" ref="mqtestSender" />
		<property name="info" value="MQ TEST" />
	</bean>
	<bean id="mqtestReceiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="MXQAS.SFDC_TEST.QL" />
	</bean>
	<bean id="mqtestSender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="MXQAS.SFDC_TEST.QL" />
	</bean>
	
	<!-- Exchange Rate, SAP -> SFDC, 自動, 每日一次 -->
	<bean id="req01" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req01" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="mockReceiver" />
		<property name="sender" ref="req01Sender" />
		<property name="info" value="Exchange Rate, SAP -> SFDC, 自動, 每日一次" />
	</bean>
	<bean id="req01Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="EC" />
	</bean>
	<bean id="req01Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Key_sync__c"/>
		<property name="parsers">
			<list>
				<ref bean="req01MasterParser"/>
			</list>
		</property>
	</bean>
	<bean id="req01MasterParser" class="com.sforce.parser.Req01MasterParser">
		<property name="syncKey" value="Key_sync__c"/>
	</bean>
	
	<!-- EPN Master, SAP -> SFDC, 自動/手動, 每日6次(每4小時一次) -->
	<bean id="req02" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req02" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="mockReceiver" />
		<property name="sender" ref="req02Sender" />
		<property name="info" value="EPN Master, SAP -> SFDC, 自動/手動, 每日6次(每4小時一次)" />
	</bean>
	<bean id="req02Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="EC" />
	</bean>
	<bean id="req02Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Key_sync__c"/>
		<property name="parsers">
			<list>
				<ref bean="req02MasterParser"/>
			</list>
		</property>
	</bean>
	<bean id="req02MasterParser" class="com.sforce.parser.Req02MasterParser">
		<property name="syncKey" value="Key_sync__c"/>
	</bean>
	
	<!-- EPN Product Body Link, SAP -> SFDC, 自動/手動, 每日6次(每4小時一次) -->
	<bean id="req03" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req03" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="mockReceiver" />
		<property name="sender" ref="req03Sender" />
		<property name="info" value="EPN Product Body Link, SAP -> SFDC, 自動/手動, 每日6次(每4小時一次)" />
	</bean>
	<bean id="req03Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="EC" />
	</bean>
	<bean id="req03Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Key_sync__c"/>
		<property name="parsers">
			<list>
				<ref bean="req03MasterParser"/>
			</list>
		</property>
	</bean>
	<bean id="req03MasterParser" class="com.sforce.parser.Req03MasterParser">
		<property name="syncKey" value="Key_sync__c"/>
	</bean>
	
	<!-- CDI & BDI,	SFDC -> Notes,	自動/手動, 每日一次 -->
	<bean id="req05" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req05" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="req05Receiver" />
		<property name="sender" ref="req05Sender" />
		<property name="info" value="CDI BDI,	SFDC -> Notes,	自動/手動, 每日一次" />
	</bean>
	<bean id="req05Receiver" class="com.sforce.intf.impl.Req05SfReceiver">
	</bean>
	<bean id="req05Sender" class="com.sforce.intf.impl.MqSender" parent="mqSender">
		<property name="queueName" value="EC" />
	</bean>
	
	<!-- PDI MP Order Ack, SAP -> SFDC, 自動, 即時 -->
	<bean id="req08" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req08" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="mockReceiver" />
		<property name="sender" ref="req08Sender" />
		<property name="info" value="PDI MP Order Ack, SAP -> SFDC, 自動, 即時" />
	</bean>
	<bean id="req08Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="EC" />
	</bean>
	<bean id="req08Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Id"/>
		<property name="parsers">
			<list>
				<ref bean="req08MasterParser"/>
			</list>
		</property>
	</bean>
	<bean id="req08MasterParser" class="com.sforce.parser.Req08MasterParser">
		<property name="syncKey" value="Id"/>
	</bean>
	
	
	<!-- Application, SAP -> SFDC, 手動, 手動執行 -->
	<bean id="req09" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req09" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="mockReceiver" />
		<property name="sender" ref="req09Sender" />
		<property name="info" value="Application, SAP -> SFDC, 手動, 手動執行" />
	</bean>
	<bean id="req09Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="EC" />
	</bean>
	<bean id="req09Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Application_ID__c"/>
		<property name="parsers">
			<list>
				<ref bean="req09MasterParser"/>
			</list>
		</property>
	</bean>
	<bean id="req09MasterParser" class="com.sforce.parser.Req09MasterParser">
		<property name="syncKey" value="Application_ID__c"/>
	</bean>
	
	<!-- Customer Category, SAP -> SFDC, 手動, 手動執行 -->
	<bean id="req13" class="com.sforce.intf.impl.BaseComponent">
		<property name="name" value="req13" />
		<property name="debug" value="${system.debug}" />
		<property name="receiver" ref="mockReceiver" />
		<property name="sender" ref="req13Sender" />
		<property name="info" value="Customer Category,	SAP -> SFDC, 手動, 手動執行" />
	</bean>
	<bean id="req13Receiver" class="com.sforce.intf.impl.MqReceiver" parent="mqReceiver">
		<property name="queueName" value="EC" />
	</bean>
	<bean id="req13Sender" class="com.sforce.intf.impl.SfSender">
		<property name="syncKey" value="Account_Number__c"/>
		<property name="parsers">
			<list>
				<ref bean="req09MasterParser"/>
			</list>
		</property>
	</bean>
	<bean id="req13MasterParser" class="com.sforce.parser.Req13MasterParser">
		<property name="syncKey" value="Account_Number__c"/>
	</bean>
</beans>
